html {
  background-color: rgb(80, 80, 80);
}
.App {
  display: flex;
  text-align: center;
}

.wrapper {
  margin: 20px auto;
  border: 1px black solid;
  padding: 20px 60px;
  background-color: rgb(164, 166, 187);
  text-decoration: none;
  width: 500px;
  height: 300px;
}

.label {
  margin-top: 20px;
}

.button {
  margin-top: 20px;
}

.error_password_message {
  color: red;
}
